.container {
    max-width: 800px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: -40px; */
    /* background-color: #8caeff; */
}
table {
    line-height: 30px;
}
.first-td {
    padding-right: 60px;
    /* font-weight: 500; */
    font-style: italic;
}
td {
    border-bottom: 1px solid black;
    /* background-color: red; */
    /* border: 1px solid black; */
}
.photo img{
    width: 150px;
    /* padding-left: -10px; */
}
.general-info {
    font-style: italic;
    border: 1px ;
}
.main-info {
    display: flex;
    justify-content: space-around;
}
.skills {
    color: red;
    display: flex;
    justify-content: center;
    text-decoration: underline;
} 
span {
    /* background-color: #8caeff; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    margin-top: 10px;
    padding: 5px;
}
li {
    margin-top: 10px;
}
#git {
    width: 300px;
    margin: 20px auto;
}
#git a {
    border: 1px solid black;
    padding: 5px;
    background-color: #8caeff;
    text-decoration: none;
    margin-left: 25px;
}